<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>TestAppIndex</h1>
    <hr color="red">
    <ul>
        <li>
            {# <a href="/testapp/detail/1">商品一</a>#}
            <a href="{% url 'testapp:detail' 1 %}">商品一</a>
        </li>
        <li>
            <a href="{% url 'testapp:detail' 2 %}">商品二</a>
        </li>
        <li>
            <a href="{% url 'testapp:detail' 3 %}">商品三</a>
        </li>

    </ul>
</body>
</html>